<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
  <h3 class="small-heading no-margin-top">서킷별 기록 순위</h3>
  <section class="section dark tiny">
    <div class="inner">
      <div class="container">
        <div class="tabpanel border section-tab" role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#search-cars" aria-controls="search-cars" role="tab" data-toggle="tab">기록 검색</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="search-cars">
              <form action="/record" method="post" class="banner-form">
                <div class="item">
                  <div class="select-wrapper">
                    <select class="selectpicker" name="track">
                      <option>서킷 종류</option>
                      <% @tracks.each do |track| %>
                      <option><%=track.trackname%></option>
                      <% end %>
                    </select>

                  </div>
                </div>
                <div class="item">
                  <div class="select-wrapper">
                    <select id="brand" class="selectpicker" name="brand">
                      <option>제조사</option>
                      <% @brands.each do |brand| %>
                      <option value="<%=brand.brand%>"><%=brand.brand%></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="item">
                  <div class="select-wrapper">
                    <select class="selectpicker" name="model">
                      <option>모델</option>
                      <% if params[:brand] != nil %>
                        <% @models.each do |model| %>
                        <option><%=model.model%></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="item">
                  <button type="submit" class="button solid light-blue">검색</button>
                </div>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="sell-car">
              <form action="" method="post" class="banner-form">
                <div class="item">
                  <input type="text" placeholder="Brand">
                </div>
                <div class="item">
                  <input type="text" placeholder="Model">
                </div>
                <div class="item">
                  <input type="text" placeholder="Year">
                </div>
                <div class="item">
                  <input type="text" placeholder="Price">
                </div>
                <div class="item">
                  <button type="submit" class="button solid light-blue">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="tabpanel solid" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#heading-tab1" aria-controls="heading-tab1" role="tab" data-toggle="tab">용인 스피드웨이</a></li>
      <li role="presentation"><a href="#heading-tab2" aria-controls="heading-tab2" role="tab" data-toggle="tab">영암 KIC</a></li>
      <li role="presentation"><a href="#heading-tab3" aria-controls="heading-tab3" role="tab" data-toggle="tab">인제 스피디움</a></li>
    </ul> <!-- end .nav-tabs -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="heading-tab1">
        <div class="container">
          <table class="table">
            <thead style="background-color: #2e3335; color: white">
              <tr>
                <!-- 최신입력순서대로 상단에 배치 -->
                <th scope="col" class="text-center">순위</th>
                <th scope="col" class="text-center">Driver</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">CAR</th>
                <th scope="col" class="text-center">TIME(1Lap)</th>
                <th scope="col" class="text-center">주행날짜</th>
                <!-- 디자인적으로 그림으로 변경 -->
                <th scope="col" class="text-center">트랙상태</th>

              </tr>
            </thead>
            <tbody>
              <% a=0%>
              <% @yongin.each do |record| %>
              <tr>
                <th scope="row" class="text-center"><%=a+=1%></th>
                <td class="text-center"><%=record.user.nickname%></td>
                <td class="text-center"><%=record.car.brand%></td>
                <td class="text-center"><%=record.car.model%></td>
                <td class="text-center"><%=record.laptime.to_s.slice(0)%>"&nbsp<%=record.laptime.to_s.slice(1..2)%>'&nbsp<%=record.laptime.to_s.slice(3..4)%></td>
                <td class="text-center"><%=record.recorddate%></td>
                <td class="text-center"><%=record.track_status%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
          <%= paginate @yongin %>
          </div>
          <br />
        </div>
        <!-- 기록들 -->
      </div> <!-- end .tab-panel -->
      <div role="tabpanel" class="tab-pane fade" id="heading-tab2">
        <div class="container">
          <table class="table">
            <thead style="background-color: #2e3335; color: white">
              <tr>
                <!-- 최신입력순서대로 상단에 배치 -->
                <th scope="col" class="text-center">순위</th>
                <th scope="col" class="text-center">Driver</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">CAR</th>
                <th scope="col" class="text-center">TIME(1Lap)</th>
                <th scope="col" class="text-center">주행날짜</th>
                <!-- 디자인적으로 그림으로 변경 -->
                <th scope="col" class="text-center">트랙상태</th>

              </tr>
            </thead>
            <tbody>
              <% a=0%>
              <% @yeongam.each do |record| %>
              <tr>
                <th scope="row" class="text-center"><%=a+=1%></th>
                <td class="text-center"><%=record.user.nickname%></td>
                <td class="text-center"><%=record.car.brand%></td>
                <td class="text-center"><%=record.car.model%></td>
                <td class="text-center"><%=record.laptime.to_s.slice(0)%>"&nbsp<%=record.laptime.to_s.slice(1..2)%>'&nbsp<%=record.laptime.to_s.slice(3..4)%></td>
                <td class="text-center"><%=record.recorddate%></td>
                <td class="text-center"><%=record.track_status%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
          <%= paginate @yeongam %>
          </div>
          <br />
        </div>
      </div> <!-- end .tab-panel -->
      <div role="tabpanel" class="tab-pane fade" id="heading-tab3">
        <div class="container">
          <table class="table">
            <thead style="background-color: #2e3335; color: white">
              <tr>
                <!-- 최신입력순서대로 상단에 배치 -->
                <th scope="col" class="text-center">순위</th>
                <th scope="col" class="text-center">Driver</th>
                <th scope="col" class="text-center">Brand</th>
                <th scope="col" class="text-center">CAR</th>
                <th scope="col" class="text-center">TIME(1Lap)</th>
                <th scope="col" class="text-center">주행날짜</th>
                <!-- 디자인적으로 그림으로 변경 -->
                <th scope="col" class="text-center">트랙상태</th>

              </tr>
            </thead>
            <tbody>
              <% a=0%>
              <% @inje.each do |record| %>
              <tr>
                <th scope="row" class="text-center"><%=a+=1%></th>
                <td class="text-center"><%=record.user.nickname%></td>
                <td class="text-center"><%=record.car.brand%></td>
                <td class="text-center"><%=record.car.model%></td>
                <td class="text-center"><%=record.laptime.to_s.slice(0)%>"&nbsp<%=record.laptime.to_s.slice(1..2)%>'&nbsp<%=record.laptime.to_s.slice(3..4)%></td>
                <td class="text-center"><%=record.recorddate%></td>
                <td class="text-center"><%=record.track_status%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
          <%= paginate @inje %>
          </div>
          <br />
        </div>
      </div> <!-- end .tab-panel -->
    </div> <!-- end .tab-content -->
  </div> <!-- end .tabpanel -->
</div>
<script>
// $('.selectpicker').change(function(){
//   this.value()
// })
$( document ).ready(function() {
  $('#brand').next().change(function() {
      // e.preventDefault();
      console.log('start!');
      $.ajax({
        url: '/circuit/menu',
        type: "POST",
        data: {content: this.text(),
              authenticity_token: $('[name="csrf-token"]').attr('content')},
        dataType: 'script',
        success: function(){
          alert('success')
          // $('input[name="content"]').val('');
        },
        error: function(){
          alert('fail!');
        }
      });
    });
  });
</script>
